.footer {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  position: relative;
  will-change: transform;
  z-index: 4;
  height: 350px;
}

.footer-links {
  height: 70%;
  background: #131313;
  padding: 3em 0 2em;
}

.holder {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
  box-sizing: border-box;
}

.social-links,
.link-menu {
  display: flex;
  flex-flow: row wrap;
}

.social-links {
  margin-bottom: 1.5em;
}

.social-links li {
  margin: 0 8px;
}

.social-links li a {
  background: #333;
  border-radius: 50%;
  display: block;
  height: 20px;
  padding: 12px;
  text-align: center;
  width: 20px;
}

.social-links .fab,
.social-links .fas {
  color: white;
  height: 16px;
  width: 16px;
}

.link-menu li a {
  color: #aaa;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.footer-legal {
  height: 30%;
  width: 100%;
  background: #000;
  color: #aaa;
  font-size: 13px;
  padding: 3em 0;
}

.legal-holder {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
  box-sizing: border-box;
}

.legal-holder span {
  display: inline;
}

.love {
  color: red;
}

.footer-legal-logoTNW {
  width: 50px;
  height: 50px;
}

.footer-legal-logoStackPath {
  width: 80px;
  height: 80px;
}
