/* Grid */
.row::after{
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}
.col-1 {
    float: left;
    width: 8.33%;
}
.col-2 {
    float: left;
    width: 16.66%;
}
.col-3 {
    float: left;
    width: 25%;
}
.col-4 {
    float: left;
    width: 33.33%;
}
.col-5 {
    float: left;
    width: 41.66%;
}
.col-6 {
    float: left;
    width: 50%;
}
.col-7 {
    float: left;
    width: 58.33%;
}
.col-8 {
    float: left;
    width: 66.66%;
}
.col-9 {
    float: left;
    width: 75%;
}
.col-10 {
    float: left;
    width: 83.33%;
}
.col-11 {
    float: left;
    width: 91.66%;
}
.col-12 {
    float: left;
    width: 100%;
}

/* Padding */
.p-top-5 {
    box-sizing: border-box;
    padding-top: 5px;
}
.p-bottom-5 {
    box-sizing: border-box;
    padding-bottom: 5px;
}
.p-left-5 {
    box-sizing: border-box;
    padding-left: 5px;
}
.p-right-5 {
    box-sizing: border-box;
    padding-right: 5px;
}

.p-top-10 {
    box-sizing: border-box;
    padding-top: 10px;
}
.p-bottom-10 {
    box-sizing: border-box;
    padding-bottom: 10px;
}
.p-left-10 {
    box-sizing: border-box;
    padding-left: 10px;
}
.p-right-10 {
    box-sizing: border-box;
    padding-right: 10px;
}

.p-top-15 {
    box-sizing: border-box;
    padding-top: 15px;
}
.p-bottom-15 {
    box-sizing: border-box;
    padding-bottom: 15px;
}
.p-left-15 {
    box-sizing: border-box;
    padding-left: 15px;
}
.p-right-15 {
    box-sizing: border-box;
    padding-right: 15px;
}

.p-top-20 {
    box-sizing: border-box;
    padding-top: 20px;
}
.p-bottom-20 {
    box-sizing: border-box;
    padding-bottom: 20px;
}
.p-left-20 {
    box-sizing: border-box;
    padding-left: 20px;
}
.p-right-20 {
    box-sizing: border-box;
    padding-right: 20px;
}

/* Margin */
.m-top-0 {
    margin-top: 0px;
}
.m-bottom-0 {
    margin-bottom: 0px;
}
.m-left-0 {
    margin-left: 0px;
}
.m-right-0 {
    margin-right: 0px;
}

.m-top-10 {
    margin-top: 10px;
}
.m-bottom-10 {
    margin-bottom: 10px;
}
.m-left-10 {
    margin-left: 10px;
}
.m-right-10 {
    margin-right: 10px;
}

.m-top-15 {
    margin-top: 15px;
}
.m-bottom-15 {
    margin-bottom: 15px;
}
.m-left-15 {
    margin-left: 15px;
}
.m-right-15 {
    margin-right: 15px;
}

.m-top-20 {
    margin-top: 20px;
}
.m-bottom-20 {
    margin-bottom: 20px;
}
.m-left-20 {
    margin-left: 20px;
}
.m-right-20 {
    margin-right: 20px;
}

.m-top-25 {
    margin-top: 25px;
}
.m-bottom-25 {
    margin-bottom: 25px;
}
.m-left-25 {
    margin-left: 25px;
}
.m-right-25 {
    margin-right: 25px;
}

.m-top-30 {
    margin-top: 30px;
}
.m-bottom-30 {
    margin-bottom: 30px;
}
.m-left-30 {
    margin-left: 30px;
}
.m-right-30 {
    margin-right: 30px;
}

/* Flex box */
.d-f {
    display: flex;
}
.f-nowrap {
    flex-wrap: nowrap;
}
.f-wrap {
    flex-wrap: wrap;
}
.f-row {
    flex-direction: row;
}
.f-column {
    flex-direction: column;
}
.f-justify-space-between {
    justify-content: space-between;
}

/* width and height */
.w-100 {
    width: 100% !important;
}
.h-auto {
    height: auto !important;
}
.w-200px {
    width: 200px !important;
}

@media screen and (min-width: 576px) {
    .col-576-1 {
        float: left;
        width: 8.33%;
    }
    .col-576-2 {
        float: left;
        width: 16.66%;
    }
    .col-576-3 {
        float: left;
        width: 25%;
    }
    .col-576-4 {
        float: left;
        width: 33.33%;
    }
    .col-576-5 {
        float: left;
        width: 41.66%;
    }
    .col-576-6 {
        float: left;
        width: 50%;
    }
    .col-576-7 {
        float: left;
        width: 58.33%;
    }
    .col-576-8 {
        float: left;
        width: 66.66%;
    }
    .col-576-9 {
        float: left;
        width: 75%;
    }
    .col-576-10 {
        float: left;
        width: 83.33%;
    }
    .col-576-11 {
        float: left;
        width: 91.66%;
    }
    .col-576-12 {
        float: left;
        width: 100%;
    }

    /* Padding */
    .p-top-576-5 {
        box-sizing: border-box;
        padding-top: 5px;
    }
    .p-bottom-576-5 {
        box-sizing: border-box;
        padding-bottom: 5px;
    }
    .p-left-576-5 {
        box-sizing: border-box;
        padding-left: 5px;
    }
    .p-right-576-5 {
        box-sizing: border-box;
        padding-right: 5px;
    }

    .p-top-576-10 {
        box-sizing: border-box;
        padding-top: 10px;
    }
    .p-bottom-576-10 {
        box-sizing: border-box;
        padding-bottom: 10px;
    }
    .p-left-576-10 {
        box-sizing: border-box;
        padding-left: 10px;
    }
    .p-right-576-10 {
        box-sizing: border-box;
        padding-right: 10px;
    }

    .p-top-576-15 {
        box-sizing: border-box;
        padding-top: 15px;
    }
    .p-bottom-576-15 {
        box-sizing: border-box;
        padding-bottom: 15px;
    }
    .p-left-576-15 {
        box-sizing: border-box;
        padding-left: 15px;
    }
    .p-right-576-15 {
        box-sizing: border-box;
        padding-right: 15px;
    }

    .p-top-576-20 {
        box-sizing: border-box;
        padding-top: 20px;
    }
    .p-bottom-576-20 {
        box-sizing: border-box;
        padding-bottom: 20px;
    }
    .p-left-576-20 {
        box-sizing: border-box;
        padding-left: 20px;
    }
    .p-right-576-20 {
        box-sizing: border-box;
        padding-right: 20px;
    }
    /* Margin */
    .m-top-576-0 {
        margin-top: 0px;
    }
    .m-bottom-576-0 {
        margin-bottom: 0px;
    }
    .m-left-576-0 {
        margin-left: 0px;
    }
    .m-right-576-0 {
        margin-right: 0px;
    }

    .m-top-576-10 {
        margin-top: 10px;
    }
    .m-bottom-576-10 {
        margin-bottom: 10px;
    }
    .m-left-576-10 {
        margin-left: 10px;
    }
    .m-right-576-10 {
        margin-right: 10px;
    }

    .m-top-576-15 {
        margin-top: 15px;
    }
    .m-bottom-576-15 {
        margin-bottom: 15px;
    }
    .m-left-576-15 {
        margin-left: 15px;
    }
    .m-right-576-15 {
        margin-right: 15px;
    }

    .m-top-576-20 {
        margin-top: 20px;
    }
    .m-bottom-576-20 {
        margin-bottom: 20px;
    }
    .m-left-576-20 {
        margin-left: 20px;
    }
    .m-right-576-20 {
        margin-right: 20px;
    }

    .m-top-576-25 {
        margin-top: 25px;
    }
    .m-bottom-576-25 {
        margin-bottom: 25px;
    }
    .m-left-576-25 {
        margin-left: 25px;
    }
    .m-right-576-25 {
        margin-right: 25px;
    }

    .m-top-576-30 {
        margin-top: 30px;
    }
    .m-bottom-576-30 {
        margin-bottom: 30px;
    }
    .m-left-576-30 {
        margin-left: 30px;
    }
    .m-right-576-30 {
        margin-right: 30px;
    }

    /* Flex box */
    .d-576-f {
        display: flex;
    }
    .f-576-nowrap {
        flex-wrap: nowrap;
    }
    .f-576-wrap {
        flex-wrap: wrap;
    }
    .f-576-row {
        flex-direction: row;
    }
    .f-576-column {
        flex-direction: column;
    }  
    .f-576-justify-space-between {
        justify-content: space-between;
    }      

    /* width and height */
    .w-576-100 {
        width: 100% !important;
    }
    .h-576-auto {
        height: auto !important;
    }    
    .w-576-200px {
        width: 200px !important;
    }    
}

@media screen and (min-width: 768px) {
    .col-768-1 {
        float: left;
        width: 8.33%;
    }
    .col-768-2 {
        float: left;
        width: 16.66%;
    }
    .col-768-3 {
        float: left;
        width: 25%;
    }
    .col-768-4 {
        float: left;
        width: 33.33%;
    }
    .col-768-5 {
        float: left;
        width: 41.66%;
    }
    .col-768-6 {
        float: left;
        width: 50%;
    }
    .col-768-7 {
        float: left;
        width: 58.33%;
    }
    .col-768-8 {
        float: left;
        width: 66.66%;
    }
    .col-768-9 {
        float: left;
        width: 75%;
    }
    .col-768-10 {
        float: left;
        width: 83.33%;
    }
    .col-768-11 {
        float: left;
        width: 91.66%;
    }
    .col-768-12 {
        float: left;
        width: 100%;
    }    

    /* Padding */
    .p-top-768-5 {
        box-sizing: border-box;
        padding-top: 5px;
    }
    .p-bottom-768-5 {
        box-sizing: border-box;
        padding-bottom: 5px;
    }
    .p-left-768-5 {
        box-sizing: border-box;
        padding-left: 5px;
    }
    .p-right-768-5 {
        box-sizing: border-box;
        padding-right: 5px;
    }

    .p-top-768-10 {
        box-sizing: border-box;
        padding-top: 10px;
    }
    .p-bottom-768-10 {
        box-sizing: border-box;
        padding-bottom: 10px;
    }
    .p-left-768-10 {
        box-sizing: border-box;
        padding-left: 10px;
    }
    .p-right-768-10 {
        box-sizing: border-box;
        padding-right: 10px;
    }

    .p-top-768-15 {
        box-sizing: border-box;
        padding-top: 15px;
    }
    .p-bottom-768-15 {
        box-sizing: border-box;
        padding-bottom: 15px;
    }
    .p-left-768-15 {
        box-sizing: border-box;
        padding-left: 15px;
    }
    .p-right-768-15 {
        box-sizing: border-box;
        padding-right: 15px;
    }

    .p-top-768-20 {
        box-sizing: border-box;
        padding-top: 20px;
    }
    .p-bottom-768-20 {
        box-sizing: border-box;
        padding-bottom: 20px;
    }
    .p-left-768-20 {
        box-sizing: border-box;
        padding-left: 20px;
    }
    .p-right-768-20 {
        box-sizing: border-box;
        padding-right: 20px;
    }    

    /* Margin */
    .m-top-768-0 {
        margin-top: 0px;
    }
    .m-bottom-768-0 {
        margin-bottom: 0px;
    }
    .m-left-768-0 {
        margin-left: 0px;
    }
    .m-right-768-0 {
        margin-right: 0px;
    }

    .m-top-768-10 {
        margin-top: 10px;
    }
    .m-bottom-768-10 {
        margin-bottom: 10px;
    }
    .m-left-768-10 {
        margin-left: 10px;
    }
    .m-right-768-10 {
        margin-right: 10px;
    }

    .m-top-768-15 {
        margin-top: 15px;
    }
    .m-bottom-768-15 {
        margin-bottom: 15px;
    }
    .m-left-768-15 {
        margin-left: 15px;
    }
    .m-right-768-15 {
        margin-right: 15px;
    }

    .m-top-768-20 {
        margin-top: 20px;
    }
    .m-bottom-768-20 {
        margin-bottom: 20px;
    }
    .m-left-768-20 {
        margin-left: 20px;
    }
    .m-right-768-20 {
        margin-right: 20px;
    }

    .m-top-768-25 {
        margin-top: 25px;
    }
    .m-bottom-768-25 {
        margin-bottom: 25px;
    }
    .m-left-768-25 {
        margin-left: 25px;
    }
    .m-right-768-25 {
        margin-right: 25px;
    }

    .m-top-768-30 {
        margin-top: 30px;
    }
    .m-bottom-768-30 {
        margin-bottom: 30px;
    }
    .m-left-768-30 {
        margin-left: 30px;
    }
    .m-right-768-30 {
        margin-right: 30px;
    }
    
    /* Flex box */
    .d-768-f {
        display: flex;
    }
    .f-768-nowrap {
        flex-wrap: nowrap;
    }
    .f-768-wrap {
        flex-wrap: wrap;
    }
    .f-768-row {
        flex-direction: row;
    }
    .f-768-column {
        flex-direction: column;
    }
    .f-768-justify-space-between {
        justify-content: space-between;
    }     

    /* width and height */
    .w-768-100 {
        width: 100% !important;
    }
    .h-768-auto {
        height: auto !important;
    }    
    .w-768-200px {
        width: 200px !important;
    }  
}

@media screen and (min-width: 992px){
    .col-992-1 {
        float: left;
        width: 8.33%;
    }
    .col-992-2 {
        float: left;
        width: 16.66%;
    }
    .col-992-3 {
        float: left;
        width: 25%;
    }
    .col-992-4 {
        float: left;
        width: 33.33%;
    }
    .col-992-5 {
        float: left;
        width: 41.66%;
    }
    .col-992-6 {
        float: left;
        width: 50%;
    }
    .col-992-7 {
        float: left;
        width: 58.33%;
    }
    .col-992-8 {
        float: left;
        width: 66.66%;
    }
    .col-992-9 {
        float: left;
        width: 75%;
    }
    .col-992-10 {
        float: left;
        width: 83.33%;
    }
    .col-992-11 {
        float: left;
        width: 91.66%;
    }
    .col-992-12 {
        float: left;
        width: 100%;
    }

    /* Padding */
    .p-top-992-5 {
        box-sizing: border-box;
        padding-top: 5px;
    }
    .p-bottom-992-5 {
        box-sizing: border-box;
        padding-bottom: 5px;
    }
    .p-left-992-5 {
        box-sizing: border-box;
        padding-left: 5px;
    }
    .p-right-992-5 {
        box-sizing: border-box;
        padding-right: 5px;
    }

    .p-top-992-10 {
        box-sizing: border-box;
        padding-top: 10px;
    }
    .p-bottom-992-10 {
        box-sizing: border-box;
        padding-bottom: 10px;
    }
    .p-left-992-10 {
        box-sizing: border-box;
        padding-left: 10px;
    }
    .p-right-992-10 {
        box-sizing: border-box;
        padding-right: 10px;
    }

    .p-top-992-15 {
        box-sizing: border-box;
        padding-top: 15px;
    }
    .p-bottom-992-15 {
        box-sizing: border-box;
        padding-bottom: 15px;
    }
    .p-left-992-15 {
        box-sizing: border-box;
        padding-left: 15px;
    }
    .p-right-992-15 {
        box-sizing: border-box;
        padding-right: 15px;
    }

    .p-top-992-20 {
        box-sizing: border-box;
        padding-top: 20px;
    }
    .p-bottom-992-20 {
        box-sizing: border-box;
        padding-bottom: 20px;
    }
    .p-left-992-20 {
        box-sizing: border-box;
        padding-left: 20px;
    }
    .p-right-992-20 {
        box-sizing: border-box;
        padding-right: 20px;
    }    

    /* Margin */
    .m-top-992-0 {
        margin-top: 0px;
    }
    .m-bottom-992-0 {
        margin-bottom: 0px;
    }
    .m-left-992-0 {
        margin-left: 0px;
    }
    .m-right-992-0 {
        margin-right: 0px;
    }

    .m-top-992-10 {
        margin-top: 10px;
    }
    .m-bottom-992-10 {
        margin-bottom: 10px;
    }
    .m-left-992-10 {
        margin-left: 10px;
    }
    .m-right-992-10 {
        margin-right: 10px;
    }

    .m-top-992-15 {
        margin-top: 15px;
    }
    .m-bottom-992-15 {
        margin-bottom: 15px;
    }
    .m-left-992-15 {
        margin-left: 15px;
    }
    .m-right-992-15 {
        margin-right: 15px;
    }

    .m-top-992-20 {
        margin-top: 20px;
    }
    .m-bottom-992-20 {
        margin-bottom: 20px;
    }
    .m-left-992-20 {
        margin-left: 20px;
    }
    .m-right-992-20 {
        margin-right: 20px;
    }

    .m-top-992-25 {
        margin-top: 25px;
    }
    .m-bottom-992-25 {
        margin-bottom: 25px;
    }
    .m-left-992-25 {
        margin-left: 25px;
    }
    .m-right-992-25 {
        margin-right: 25px;
    }

    .m-top-992-30 {
        margin-top: 30px;
    }
    .m-bottom-992-30 {
        margin-bottom: 30px;
    }
    .m-left-992-30 {
        margin-left: 30px;
    }
    .m-right-992-30 {
        margin-right: 30px;
    }    

    /* Flex box */
    .d-992-f {
        display: flex;
    }
    .f-992-nowrap {
        flex-wrap: nowrap;
    }
    .f-992-wrap {
        flex-wrap: wrap;
    }
    .f-992-row {
        flex-direction: row;
    }
    .f-992-column {
        flex-direction: column;
    }   
    .f-992-justify-space-between {
        justify-content: space-between;
    }      

    /* width and height */
    .w-992-100 {
        width: 100% !important;
    }
    .h-992-auto {
        height: auto !important;
    }    
    .w-992-200px {
        width: 200px !important;
    }  
}

@media screen and (min-width: 1200px) {
    .col-1200-1 {
        float: left;
        width: 8.33%;
    }
    .col-1200-2 {
        float: left;
        width: 16.66%;
    }
    .col-1200-3 {
        float: left;
        width: 25%;
    }
    .col-1200-4 {
        float: left;
        width: 33.33%;
    }
    .col-1200-5 {
        float: left;
        width: 41.66%;
    }
    .col-1200-6 {
        float: left;
        width: 50%;
    }
    .col-1200-7 {
        float: left;
        width: 58.33%;
    }
    .col-1200-8 {
        float: left;
        width: 66.66%;
    }
    .col-1200-9 {
        float: left;
        width: 75%;
    }
    .col-1200-10 {
        float: left;
        width: 83.33%;
    }
    .col-1200-11 {
        float: left;
        width: 91.66%;
    }
    .col-1200-12 {
        float: left;
        width: 100%;
    }

    /* Padding */
    .p-top-1200-5 {
        box-sizing: border-box;
        padding-top: 5px;
    }
    .p-bottom-1200-5 {
        box-sizing: border-box;
        padding-bottom: 5px;
    }
    .p-left-1200-5 {
        box-sizing: border-box;
        padding-left: 5px;
    }
    .p-right-1200-5 {
        box-sizing: border-box;
        padding-right: 5px;
    }

    .p-top-1200-10 {
        box-sizing: border-box;
        padding-top: 10px;
    }
    .p-bottom-1200-10 {
        box-sizing: border-box;
        padding-bottom: 10px;
    }
    .p-left-1200-10 {
        box-sizing: border-box;
        padding-left: 10px;
    }
    .p-right-1200-10 {
        box-sizing: border-box;
        padding-right: 10px;
    }

    .p-top-1200-15 {
        box-sizing: border-box;
        padding-top: 15px;
    }
    .p-bottom-1200-15 {
        box-sizing: border-box;
        padding-bottom: 15px;
    }
    .p-left-1200-15 {
        box-sizing: border-box;
        padding-left: 15px;
    }
    .p-right-1200-15 {
        box-sizing: border-box;
        padding-right: 15px;
    }

    .p-top-1200-20 {
        box-sizing: border-box;
        padding-top: 20px;
    }
    .p-bottom-1200-20 {
        box-sizing: border-box;
        padding-bottom: 20px;
    }
    .p-left-1200-20 {
        box-sizing: border-box;
        padding-left: 20px;
    }
    .p-right-1200-20 {
        box-sizing: border-box;
        padding-right: 20px;
    }  

    /* Margin */
    .m-top-1200-0 {
        margin-top: 0px;
    }
    .m-bottom-1200-0 {
        margin-bottom: 0px;
    }
    .m-left-1200-0 {
        margin-left: 0px;
    }
    .m-right-1200-0 {
        margin-right: 0px;
    }

    .m-top-1200-10 {
        margin-top: 10px;
    }
    .m-bottom-1200-10 {
        margin-bottom: 10px;
    }
    .m-left-1200-10 {
        margin-left: 10px;
    }
    .m-right-1200-10 {
        margin-right: 10px;
    }

    .m-top-1200-15 {
        margin-top: 15px;
    }
    .m-bottom-1200-15 {
        margin-bottom: 15px;
    }
    .m-left-1200-15 {
        margin-left: 15px;
    }
    .m-right-1200-15 {
        margin-right: 15px;
    }

    .m-top-1200-20 {
        margin-top: 20px;
    }
    .m-bottom-1200-20 {
        margin-bottom: 20px;
    }
    .m-left-1200-20 {
        margin-left: 20px;
    }
    .m-right-1200-20 {
        margin-right: 20px;
    }

    .m-top-1200-25 {
        margin-top: 25px;
    }
    .m-bottom-1200-25 {
        margin-bottom: 25px;
    }
    .m-left-1200-25 {
        margin-left: 25px;
    }
    .m-right-1200-25 {
        margin-right: 25px;
    }

    .m-top-1200-30 {
        margin-top: 30px;
    }
    .m-bottom-1200-30 {
        margin-bottom: 30px;
    }
    .m-left-1200-30 {
        margin-left: 30px;
    }
    .m-right-1200-30 {
        margin-right: 30px;
    }    

    /* Flex box */
    .d-1200-f {
        display: flex;
    }
    .f-1200-nowrap {
        flex-wrap: nowrap;
    }
    .f-1200-wrap {
        flex-wrap: wrap;
    }
    .f-1200-row {
        flex-direction: row;
    }
    .f-1200-column {
        flex-direction: column;
    }    
    .f-1200-justify-space-between {
        justify-content: space-between;
    }     

    /* width and height */
    .w-1200-100 {
        width: 100% !important;
    }
    .h-1200-auto {
        height: auto !important;
    }    
    .w-1200-200px {
        width: 200px !important;
    }  
}


