ul {
    list-style-type: none;
}
body {
    background-color: rgb(255, 251, 251);
}
a {
    text-decoration: none;   
}
main {
    max-width: 1192px;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .nav-logo-1 {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .nav-logo-2 {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .nav-container-toggle {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    /* main section */
    .l-news-float-container .l-news-float-item {
        width: 25%;
        flex-flow: column nowrap;
    }
    .l-news-float-item .l-news-img-container {
        width: 100%;
        height: auto;
    }
    .l-news-img-container .l-news-img {
        padding-top: 50%;
    }
    .main-art-float-container .main-art-float-item {
        width: 33.3%;
    }
}
@media screen and (max-width: 1024px) and (min-width: 923px) {
    .nav-logo-2 {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .nav-container-toggle {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    /* main section */
    .l-news-float-container .l-news-float-item {
        width: 33.3%;
        flex-flow: column nowrap;
    }
    .l-news-float-item .l-news-img-container {
        width: 100%;
        height: auto;
    }
    .l-news-img-container .l-news-img {
        padding-top: 50%;
    }
    .main-art-float-container .main-art-float-item {
        width: 50%;
    }
}
@media screen and (max-width: 923px) and (min-width: 768px) {
    .nav-logo-2 {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .nav-container-toggle {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .nav-black-right-hide {
        position: absolute;
        top: -9999px;
        left: -9999px;        
    }
    /* main section */
    .l-news-float-container .l-news-float-item {
        width: 33.3%;
        flex-flow: column nowrap;
    }
    .l-news-float-item .l-news-img-container {
        width: 100%;
        height: auto;
    }
    .l-news-img-container .l-news-img {
        padding-top: 50%;
    }
    .main-art-float-container .main-art-float-item {
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .nav-logo-1 {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .nav-black {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .nav-white-left-hide {
        position: absolute;
        top: -9999px;
        left: -9999px;        
    }
}

